<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="userDaoImpl" class="com.watchdog.dao.user.UserDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="deviceDaoImpl" class="com.watchdog.dao.device.DeviceDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="videoDaoImpl" class="com.watchdog.dao.video.VideoDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="tagDaoImpl" class="com.watchdog.dao.tag.TagDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="permissionsDaoImpl" class="com.watchdog.dao.PermissionsDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/bsbuckne?autoReconnect=true&amp;useSSL=false" />
		<property name="username" value="root" />
		<property name="password" value="password" />
	</bean>

</beans>
