<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Angular Tests</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.css" rel="stylesheet" media="screen"/>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div th:include="fragments/header :: header"></div>
<body>

<h2>Angular Tag Table</h2>
<div class="container">
    <div ng-app ="myApp" ng-controller ="tagController" class="table-responsive">

        <div style="padding:20px 0px 60px 0px">
            <span class="col-md-1" style="font-weight:bold">Search</span>
            <span class="col-md-3">
                <input type="search" class="form-control" ng-model="searchKeyword"/>
                </span>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <!--<th>id</th>-->
                    <!--<th>vid_id</th>-->
                    <th>date</th>
                    <th>start time</th>
                    <th>length</th>
                    <th>camera</th>
                    <!--<th>tag list</th>-->
                    <th>tags</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in tableList | filter: searchKeyword as results" class="ng-scope">
                    <!--<td>{{x.id}}</td>-->
                    <!--<td>{{x.vid_id}}</td>-->
                    <td>{{x.date}}</td>
                    <td>{{x.startTime}}</td>
                    <td>{{x.length}}</td>
                    <td>{{x.camera}}</td>
                    <!--<td>{{x.tagList}}</td>-->
                    <td>{{x.tags}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<script th:inline="javascript">
    var myApp = angular.module("myApp", []);

    var json = /*[[${logListJson}]]*/ "default";

    myApp.controller('tagController', function($scope) {
        $scope.tableList = JSON.parse(json);
    });
</script>


</body>
</html>