<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Device Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.css" rel="stylesheet" media="screen"/>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>
</head>

<body>
<div th:include="fragments/header :: header"></div>

<form method="post" name="form" id="form" class="form-inline">

    <div>
        <input type="text" class="form-control" name="name" placeholder="Device Name" />
        <input type="text" class="form-control" name="ip" placeholder="Device IP" />
        <input type="text" class="form-control" name="mac" placeholder="Device MAC" />
        <button type="button" class="btn btn-info" id="btn-add">Add New</button>
        <button type="button" class="btn btn-success" id="btn-update">Update</button>
        <button type="reset" class="btn btn-info" id="btn-reset">Clear</button>

    </div>
</form>

<table class="table">
    <thead>
    <tr>
        <th>Device Name</th>
        <th>Device IP</th>
        <th>Device MAC</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<script>
    // test alert
    $(function(){
        // if we use id we need $('#some-name'); or class we use $('.some-name');
        $('#btn-add').click(function(){
            // declare variable
            var _name = $('input[name="name"]').val();
            var _ip = $('input [name="ip"]').val();
            var _mac = $('input[name="mac"]').val();


            var _tr = '<tr><td>'+ _name +'</td>	<td>'+ _ip +'</td> <td>'+ _mac +'</td>  <td><button type="button" class="btn btn-success btn-edit">Edit </button> | <button type="button" class="btn btn-danger btn-delete">Delete </button></td></tr>';

            $('tbody').append(_tr);
        });

        var _trEdit = null;

        $(document).on('click', '.btn-edit', function(){
            _trEdit = $(this).closest('tr');
            var _name = $(_trEdit).find('td:eq(0)').text();
            var _ip = $(_trEdit).find('td:eq(1)').text();
            var _mac = $(_trEdit).find('td:eq(2)').text();

            $('input[name="name"]').val(_name);
            $('input[name="ip"]').val(_ip);
            $('input[name="mac"]').val(_mac);
        });

        $('#btn-update').click(function(){
            if(_trEdit){
                var _name = $('input[name="name"]').val();
                var _ip = $('input[name="ip"]').val();
                var _mac = $('input[name="mac"]').val();

                $(_trEdit).find('td:eq(0)').text(_name);
                $(_trEdit).find('td:eq(1)').text(_ip);
                $(_trEdit).find('td:eq(2)').text(_mac);
                alert("Record has been updated!");
                _trEdit = null;
            }
        });

        $(document).on('click','.btn-delete', function(){
            if(confirm("Are you sure to delete?")){
                $(this).closest('tr').remove();
            }
        });

    });
</script>
</body>
</html>