<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Device Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.css" rel="stylesheet" media="screen"/>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>
</head>

<body>
<div th:include="fragments/header :: header"></div>

<form method="post" class="form-inline">

    <div>
        <input type="text" class="form-control" name="id" placeholder="ID#" />
        <input type="text" class="form-control" name="name" placeholder="Device Name" />
        <input type="text" class="form-control" name="type" placeholder="Device Type" />
        <button type="button" class="btn btn-info" id="btn-add">Add New</button>
        <button type="button" class="btn btn-success" id="btn-update">Update</button>
    </div>
</form>

<table class="table">
    <thead>
    <tr>
        <th>ID#</th>
        <th>Device Name</th>
        <th>Device Type</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<script>
    // test alert
    $(function(){
        // if we use id we need $('#some-name'); or class we use $('.some-name');
        $('#btn-add').click(function(){
            // declare variable
            var _id = $('input [name="id"]').val();
            var _name = $('input[name="name"]').val();
            var _type = $('input[name="type"]').val();


            var _tr = '<tr><td>'+ _id +'</td> <td>'+ _name +'</td>	<td>'+ _type +'</td>  <td><button type="button" class="btn btn-success btn-edit">Edit </button> | <button type="button" class="btn btn-danger btn-delete">Delete </button></td></tr>';

            $('tbody').append(_tr);
        });

        var _trEdit = null;
        $(document).on('click', '.btn-edit', function(){
            _trEdit = $(this).closest('tr');
            var _id = $(_trEdit).find('td:eq(0)').text();
            var _name = $(_trEdit).find('td:eq(1)').text();
            var _type = $(_trEdit).find('td:eq(2)').text();

            $('input[name="id"]').val(_id);
            $('input[name="name"]').val(_name);
            $('input[name="type"]').val(_type);
        });

        $('#btn-update').click(function(){
            if(_trEdit){
                var _id = $('input[name="id"]').val();
                var _name = $('input[name="name"]').val();
                var _type = $('input[name="type"]').val();

                $(_trEdit).find('td:eq(0)').text(_id);
                $(_trEdit).find('td:eq(1)').text(_name);
                $(_trEdit).find('td:eq(2)').text(_type);
                alert("Record has been updated!");
                _trEdit = null;
            }
        });

        $(document).on('click','.btn-delete', function(){
            if(confirm("Are you sure to delete?")){
                $(this).closest('tr').remove();
            }
        });
    });
</script>
</body>
</html>