<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Device Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.css" rel="stylesheet" media="screen"/>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>
</head>

<div th:include="fragments/header :: header"></div>
<br/>
<body>

<h3 class="text-center">Add Device</h3>
<form th:action="@{?addDevice}" th:object="${device}" method="post" id="devices" class="in-line" align="center">

    <div id="centered">
        <input type="text" class="in-line" id="deviceName" th:field="*{deviceName}" placeholder="Device Name (Required)"/>
        <input type="text" class="in-line" id="deviceMac" th:field="*{deviceMac}" placeholder="Device MAC (Required)"/>
        <input type="text" class="in-line" id="deviceAddress" th:field="*{deviceAddress}" placeholder="Device Address (Required)"/>
        <input type="text" class="in-line" id="devicePort" th:field="*{devicePort}"
               placeholder="Device Port (Required)"/>
        <button type="submit" class="btn btn-success" id="btn-add">Add Device</button>
        <button class="btn btn-info" onclick="clearText()">Clear</button>

    </div>
    <span class="help-block" style="color: red" th:text="${errorMessage}"></span>
    <span class="help-block" th:if="${successMessage != null}" th:text="${successMessage}"></span>

</form>
<br/>

<div  th:if="${not #lists.isEmpty(deviceList)}">
    <h3 class="text-center">Registered Devices</h3>
    <div class="panel panel-primary" id="table-holder">

        <table class="table">
            <thead>
            <tr>
                <th>Device Name</th>
                <th>Device MAC</th>
                <th>Device Address</th>
                <th>Device Port</th>
                <th>Action</th>
            </tr>

            <tr th:each="device, iter : ${deviceList}">

                <td th:text="${device.deviceName}"></td>
                <td th:text="${device.deviceMac}"></td>
                <td th:text="${device.deviceAddress}"></td>
                <td th:text="${device.devicePort}"></td>
                <td>
                    <form th:action="@{?deleteDevice}" th:object="${device}" method="post" class="in-line">
                        <input type="hidden" th:value="${device.id}" name="id"/>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>

            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
<br/>

<script>
    // test alert
    $(function () {
        // if we use id we need $('#some-name'); or class we use $('.some-name');
        $('#btn-add').click(function () {
            // declare variable
            var _name = $('input[name="name"]').val();
            var _mac = $('input [name="mac"]').val();
            var _ip = $('input[name="ip"]').val();
            var _port = $('input[name="port"]').val();


            var _tr = '<tr><td>' + _name + '</td> <td>' + _mac + '</td> <td>' + _ip + '</td> <td>' + _port + '</td><td><button type="button" class="btn btn-danger btn-delete">Delete </button></td></tr>';

            $('tbody').append(_tr);
        });


    });

    // clear form data after submission
    function clearText() {
        // declare textbox variables
        var tb0 = document.getElementById("deviceName")
        var tb1 = document.getElementById("deviceMac")
        var tb2 = document.getElementById("deviceAddress")
        var tb3 = document.getElementById("devicePort")
        // clear textbox
        tb0.value = '';
        tb1.value = '';
        tb2.value = '';
        tb3.value = '';
    }
</script>

<script type="text/javascript" th:src="@{/js/footer.js}"/>

</body>
</html>