<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.css" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="row container-fluid" th:fragment="login">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 align="center">Welcome back!</h3></div>
            <div class="panel-body">

                <form action="#" th:action="@{/login}" th:object="${user}" method="post">

                    <div class="row container-fluid form-group">
                        <div class="col-md-12">
                            <label for="email">Email:</label>
                            <input type="text" class="form-control" id="email" th:field="*{email}" />
                            <span class="help-block" th:if="${#fields.hasErrors('email')}">Please enter your email address</span>
                        </div>
                    </div>

                    <div class="row container-fluid form-group">
                        <div class="col-md-12">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" th:field="*{password}" />
                            <span class="help-block" th:if="${#fields.hasErrors()}">Please enter your password</span>
                        </div>
                    </div>


                    <div class="row container-fluid">
                        <div class="buttonGroup" align="right">
                            <button type="reset" class="btn btn-info">
                                <i class="fa fa-link"></i>
                                Clear
                            </button>

                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-upload"></i>
                                Submit
                            </button>
                        </div>
                        <li><a href="/resetpassword">Forgot your password?</a></li>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
