<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Log View</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.css" rel="stylesheet" media="screen"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div th:include="fragments/header :: header"></div>

<div class="container">
    <div class="table-responsive">
        <form method="post" id="devices" class="in-line">
            <table class="table">
                <thead>
                <tr>
                    <th><h1>Log View</h1></th>
                    <th></th>
                    <th><button type="button" class="btn btn-default">Play</button></th>
                    <th><button type="button" class="btn btn-default">Delete</button></th>
                    <th><button type="button" class="btn btn-default">Edit Tags</button></th>
                    <th>Sort by:
                        <select>
                            <option value="date">Date</option>
                            <option value="camera">Camera</option>
                            <option value="camera">Tag</option>
                        </select>
                    </th>
                </tr>
                </thead>
            </table>
            <!--<input type="text" class="in-line" id="deviceName" th:field="*{deviceName}" placeholder="Device Name" />-->
            <!--<input type="text" class="in-line" id="deviceMac" th:field="*{deviceMac}" placeholder="Device MAC"/>-->
            <!--<input type="text" class="in-line" id="deviceIp" th:field="*{deviceIp}" placeholder="Device IP"/>-->
            <!--<button type="submit" class="btn btn-info" id="btn-add">Add New</button>-->
            <!--<button type="reset" class="btn btn-info" id="btn-reset">Clear</button>-->
        </form>

        <table class="table" th:if="${not #lists.isEmpty(logList)}">
            <thead>
            <tr>
                <th></th>
                <th>Date</th>
                <th>Start</th>
                <th>Length</th>
                <th>Camera</th>
                <th>Tags</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="log : ${logList}">
                <td><input type="radio" name="entry1" th:value="${log.radioEntry}"></input></td>
                <td th:text="${log.date}"></td>
                <td th:text="${log.startTime}"></td>
                <td th:text="${log.length}"></td>
                <td th:text="${log.camera}"></td>
                <td th:text="${log.tags}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
