<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Log View</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.css" rel="stylesheet" media="screen"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div th:include="fragments/header :: header"></div>

<div class="container">
    <div class="table-responsive">
        <form method="post" id="devices" class="in-line">
            <table class="table">
                <thead>
                <tr>
                    <th><h1>Log View</h1></th>
                </tr>
                </thead>
            </table>
        </form>

        <table class="table" th:if="${not #lists.isEmpty(logList)}">
            <thead>
            <tr>
                <th></th>
                <th>Date</th>
                <th>Start</th>
                <th>Length</th>
                <th>Camera</th>
                <th>Tags</th>
                <th></th>
                <th>Sort by:
                    <select>
                        <option value="date">Date</option>
                        <option value="camera">Camera</option>
                        <option value="camera">Tag</option>
                    </select>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="log : ${logList}">
                <td><button type="button" class="btn btn-primary">Play</button></td>
                <td th:text="${log.date}"></td>
                <td th:text="${log.startTime}"></td>
                <td th:text="${log.length}"></td>
                <td th:text="${log.camera}"></td>
                <td th:text="${log.tags}"></td>
                <td><button type="button" class="btn btn-info">Edit Tags</button></td>
                <td>
                    <form th:action="@{?deleteLog}" th:object="${log}" method="post" class="in-line">
                        <input type="hidden" th:value="${log.vid_id}" name="vid_id" />
                        <input type="hidden" th:value="${log.id}" name="id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
