<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Permissions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.css" rel="stylesheet" media="screen"/>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>
</head>

<body>
<div th:include="fragments/header :: header"></div>

<h3>Permission Information</h3>
<table class="table" th:if="${not #lists.isEmpty(permissionsList)}">
    <thead>
    <tr>
        <th>Role</th>
        <th>Description</th>
    </tr>

    </thead>
    <tbody>
    <tr th:each="permissions, iter : ${permissionsList}">
        <td th:text="${permissions.role}"></td>
        <td th:text="${permissions.description}"></td>
    </tr>
    </tbody>
</table>

<h3>Users</h3>
<table>
    <tr th:each="user, iter : ${userList}">
        <td th:text="${user.email}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td>
            <form th:action="@{?changePermissionRoleUser}" th:object="${user}" method="post" class="in-line">
                <input type="hidden" th:value="${user.permissionId}" name="id" />
                <button type="submit" class="btn btn-danger" th:text="${user.permissionId}"></button>
            </form>
        </td>

        <td>
 <!--           <form th:action="@{?changePermissionRoleUser}" th:object="${permissions}" method="post" class="in-line">
                <input type="hidden" th:value="${permissions.role}" name="id" />
                <button type="submit" class="btn btn-danger">Admin</button>
            </form>-->
        </td>
    </tr>
</table>



</body>
</html>