<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Permissions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.css" rel="stylesheet" media="screen"/>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>
</head>

<body>
<div th:include="fragments/header :: header"></div>

<table class="table" th:if="${not #lists.isEmpty(permissionsList)}">
    <thead>
    <tr>
        <th>Role</th>
        <th>Description</th>
        <th>Action</th>
    </tr>


    <tr th:each="permissions, iter : ${permissionsList}">

        <td th:text="${permissions.role}"></td>
        <td th:text="${permissions.description}"></td>
        <td>
            <form th:action="@{?changePermissionRoleUser}" th:object="${permissions}" method="post" class="in-line">
                <input type="hidden" th:value="${permissions.role}" name="id" />
                <button type="submit" class="btn btn-danger">User</button>
            </form>
          <!--  <form th:action="@{?changePermissionRoleAdmin}" th:object="${permissions}" method="post" class="in-line">
                <input type="hidden" th:value="${permissions.role}" name="id" />
                <button type="submit" class="btn btn-danger">Administrator</button>
            </form>-->
        </td>
    </tr>

    </thead>
    <tbody>

    </tbody>
</table>

</body>
</html>