<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Email Sent</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.css" rel="stylesheet" media="screen"/>
</head>
<div th:include="fragments/header :: header"></div>
<br />
<body>
<div class="row container-fluid">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary" style="background-color: white">
            <div class="panel-heading"><h3 align="center">Results</h3></div>
            <div>
                <div class="row container-fluid form-group" >
                    <div class="col-md-12">
                        <br /><br />
                        <h4 align="center" th:text="'Sent Email to ' + ${user.email} + '. Please check for your new email.'"/>
                        <br />
                        <p align="center"><a href="/login" th:href="@{/login}">Return to login</a></p>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

