
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.css" rel="stylesheet" media="screen"/>
</head>
<div th:include="fragments/header :: header"></div>
<br />
<body>
<div class="row container-fluid">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 align="center">Reset Password</h3></div>
            <div class="panel-body" style="background-color: white">

                <form action="#" th:action="@{/reset}" th:object="${user}" method="post">

                    <div class="row container-fluid form-group">
                        <div class="col-md-12">

                            <br />
                            <p align="center">Enter your account's email address and you will be sent a new password.</p>
                            <br />

                            <label for="email">Email: </label>
                            <input type="text" class="form-control" id="email" th:field="*{email}" />
                            <span class="help-block" style="color:red" th:if="${#fields.hasErrors('email')}">Invalid Email</span>
                            <span class="help-block" style="color:red" th:if="${newEmail != null}" th:text="${newEmail}"></span>
                        </div>
                    </div>

                    <div class="row container-fluid">
                        <div class="buttonGroup" align="center">
                            <button class="btn btn-success">
                                <i class="fa fa-upload"></i>
                                Submit
                            </button>

                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/footer.js}" />
</body>
</html>
