<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.css" rel="stylesheet" media="screen"/>
</head>
<body>
<img src="http://192.168.0.110:8080/stream/video.mjpeg" th:width="200" th:height="300" alt="image"> </img>
<img src="http://jdtaormi.ddns.net:8080/stream/video.mjpeg" th:width="200" th:height="300" alt="image"> </img>

</body>
</html>