<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.css" rel="stylesheet" media="screen"/>

</head>
<body>

<div th:include="fragments/header :: header"></div>

    <h3 class="text-center" id="welcome-text">Welcome <span th:text="${firstName}"></span></h3>
    <br />

    <div class="row" th:if="${not #lists.isEmpty(deviceList)}">
        <div width="95%" class="col-md-6" align="center" th:each="device, iter : ${deviceList}">
            <div style="background-color: darkblue; padding: 10px; width: 95%">
                <h4 style="color: white" th:text="'Cam ' + ${iter.index + 1} + ': ' + ${device.deviceName}"></h4>
            </div>
            <p><img th:src="${device.deviceUrl}" width="95%" height="100%" alt="image"> </img></p>

        </div>
    </div>
<br />
<br />
<br />

    <script type="text/javascript" th:src="@{/js/footer.js}" />

</body>
</html>